.footer {
	background: url("../img/home/noise.png") repeat, radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
	color: $lightColor;

	&__body {
	margin-top: 40px;
	}

	&__content {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__contacts {
		flex: 0 0 310px;
	}

	&__address {
		flex: 0 0 310px;
	}

	&__image {
	}
}
.contacts-footer {
	margin-top: 18px;
	display: flex;
	flex-direction: column;
	&__title {
		color: #ffffff;
	}

	&__contact {
		margin-top: 40px;
	}
}
.address-footer {
margin-left: -18px;
	margin-top: 18px;
	display: flex;
	flex-direction: column;
// gap: 40px;
	&__title {
		color: #ffffff;
	}

	&__contact {
		margin-top: 32px;
	}
}
