.header {
	padding: 30px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__logo {
		display: flex;
		flex-direction: column;
		align-items: center;
		& span:first-child {
			font-family: Georgia, "Times New Roman", serif;
			font-size: 32px;
			line-height: 110%;
			color: $primaryColor;
		}
		& span:last-child {
			margin-top: 10px;
			font-size: 13px;
	
		}
	}

	&__menu {
	}
}
.logo {

	&__name {
		letter-spacing: 2px;
	}

	&__text {
		letter-spacing: 1.3px;
	}
}
.menu {

	&__list {
		display: flex;
		margin-bottom: 5px;
	}


	&__item {
		margin-left: 34px;
	}

	&__link {
		padding: 7px 0;
		letter-spacing: 0.17px;
		position: relative;
		color: $lightGrayColor;
		transition: color 0.3s ease 0s;
	
		&:hover {
			color: $cardsBackgroundColor;
		}
		&.active::after,
		&::after{
			content: "";
				background: none repeat scroll 0 0 transparent;
				bottom: 0;
				display: block;
				height: 3px;
				left: 50%;
				position: absolute;
				background: $primaryColor;
				transition: width 0.3s ease 0s, left 0.3s ease 0s;
				width: 0;
		}
		&.active::after {
			width: 100%; 
			left: 0; 
		}
		&:active {
			color: $cardsBackgroundColor;
		}
		&:active::after {
			width: 100%; 
			left: 0; 
		}
		&.active{
			pointer-events: none;
			color: $lightGrayColor;
		}
	}
}
