* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
html,
body {
	height: 100%;
	min-width: $minWidth + px;
}
body {
	color: $mainColor;
	line-height: 1;
	font-family: $fontFamily;
	font-size: $fontSize;
	//text-rendering: optimizeLegibility;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-color: rgba(41, 41, 41, 0.6);
		opacity: 0;
		transition: all 1s ease 0s;
	}
}
body._lock {
	overflow: hidden;
	touch-action: none;
	position: relative;
	
	&::before {
		opacity: 1;
	}
}
input,
button,
textarea {
	font-family: $fontFamily;
	font-size: inherit;
}
button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}
a {
	color: inherit;
}
a:link,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

:root {
	scroll-behavior: smooth;
}
