@import url(https://fonts.googleapis.com/css?family=Inter:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

body {
  font-family: 'Inter', sans-serif;
  background: rgb(0, 24, 36);
}
