@use "sass:math";

// Подключение миксинов 
@import "./abstract/mixins";

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: Arial, "Helvetica Neue", Helvetica, sans-serif;

$fontSize: rem(15); // где 15(px) - размер шрифта по умолчанию из макета
// Основные цвета
$mainColor: #4c4c4c; // Цвет шрифта по умолчанию
$lightColor: #ffffff;
$primaryColor: #f1cdb3;
$primaryLightColor: #fddcc4;
$titleGrayColor: #545454;
$darkGrayColor: #292929;
$lightGrayColor: #cdcdcd;
$backgroundSecondaryColor: #f6f6f6;
$cardsBackgroundColor: #fafafa;

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1280;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

@import "./base/null";

body {
	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
	}
	// Сайт загружен
	.loaded & {
	}
}

// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}

[class*="__container"] {
	margin: 0 auto;
	max-width: 1200px;
	box-sizing: border-box;
	// @if ($maxWidthContainer>0) {
	// 	max-width: rem($maxWidthContainer);
	// 	box-sizing: content-box;
	// } @else {
	// 	@if ($containerPadding>0) {
	// 		padding: 0 rem(math.div($containerPadding, 2));
	// 	}
	// }
	// @media (max-width: $pc) {
	// 	max-width: rem(970);
	// }
	// @media (max-width: $tablet) {
	// 	max-width: rem(750);
	// }
	// @media (max-width: $mobile) {
	// 	max-width: none;
	// 	@if ($containerPadding>0 and $maxWidthContainer>0) {
	// 		padding: 0 rem(math.div($containerPadding, 2));
	// 	}
	// }
}
@import "./components/common";
@import "./layout/header";
@import "./layout/footer";
@import "./pages/our-pets";