.button {
	font-family: Georgia, "Times New Roman", serif;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: $primaryColor;
	border: 1px solid $primaryColor;
	color: #292929;
	font-size: 17px;
	height: 50px;
	padding: 15px 45px;
	border-radius: 30px;
	transition: all 0.3s ease 0s;
	&:hover {
		background-color: $primaryLightColor;
		border: 1px solid $primaryLightColor;
	}
}

.title {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 35px;
	line-height: 130%;
	letter-spacing: 6%;
	color: $titleGrayColor;
}

.item-slider {
	cursor: pointer;
	background-color: #FAFAFA;
	border-radius: 9px;
	overflow: hidden;

	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 30px;
	}

	&__image {
	}

	&__title {
		font-size: 20px;
	}

	&__button {
		margin-bottom: 30px;
		background-color: transparent;
	}
}

.arrow {
	border-radius: 50%;
	border: 1px solid $primaryColor;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	&:hover {
		background-color: $primaryLightColor;
		border: 1px solid $primaryLightColor;
	}
}

.contact {
	display: flex;
	align-items: center;
	& span {
		font-size: 20px;
		line-height: 115%;
		letter-spacing: 6%;
		font-family: Georgia, "Times New Roman", serif;
		color: $primaryColor;
		margin-left: 20px;
		transition: all 0.3s ease 0s;
	}
	&:hover span {
		color: $primaryLightColor;
	}
}
.unactive {
}
.active {
}