.button {
	font-family: Georgia, "Times New Roman", serif;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: $primaryColor;
	border: 1px solid $primaryColor;
	color: #292929;
	font-size: 17px;
	height: 52px;
	padding: 15px 45px;
	letter-spacing: 1px;
	border-radius: 30px;
	transition: all 0.3s ease 0s;
	&:hover {
		background-color: $primaryLightColor;
		border: 1px solid $primaryLightColor;
	}
	&:active {
		background-color: lighten($color: $primaryLightColor, $amount: 5%);
		border: 1px solid lighten($color: $primaryLightColor, $amount: 5%);
	}
}

.title {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 35px;
	line-height: 130%;
	letter-spacing: 2px;
	color: $titleGrayColor;
}

.item-slider {
	cursor: pointer;
	background-color: #FAFAFA;
	border-radius: 9px;
	overflow: hidden;
	transition: all 0.3s ease 0s;
	&:hover {
		box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
		transform: translateY(-5px);
	}
	&:active {
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
		transform: translateY(-2px);
	}

	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 29px;
	}

	&__image {
	}

	&__title {
		font-size: 20px;
		letter-spacing: 0.8px;
	}

	&__button {
		margin-bottom: 30px;
		background-color: transparent;
	}
}

.arrow {
	border-radius: 50%;
	border: 1px solid $primaryColor;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	&:hover {
		background-color: $primaryLightColor;
		border: 1px solid $primaryLightColor;
	}
	&:active {
		background-color: lighten($color: $primaryLightColor, $amount: 5%);
		border: 1px solid lighten($color: $primaryLightColor, $amount: 5%);
	}
}

.contact {
	display: flex;
	align-items: center;
	& span {
		font-size: 20px;
		line-height: 115%;
		letter-spacing: 1.2px;
		font-family: Georgia, "Times New Roman", serif;
		color: $primaryColor;
		margin-left: 20px;
		transition: all 0.3s ease 0s;
	}
	&:hover span {
		color: $primaryLightColor;
	}
	&:active span {
		color: lighten($color: $primaryLightColor, $amount: 5%);
	}
}
