@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  overflow: auto;
  color: #4c4c4c;
  line-height: 1;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 0.9375rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100vw;
  height: 100vh;
  background-color: rgba(41, 41, 41, 0.6);
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

body._lock {
  overflow: hidden;
  position: relative;
}
body._lock::before {
  content: "";
  left: 0;
  opacity: 1;
}

body._locked {
  overflow: hidden;
  position: relative;
}

input,
button,
textarea {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

:root {
  scroll-behavior: smooth;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  margin: 0 auto;
  max-width: 1200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button {
  font-family: Georgia, "Times New Roman", serif;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f1cdb3;
  border: 1px solid #f1cdb3;
  color: #292929;
  font-size: 17px;
  height: 52px;
  padding: 15px 45px;
  letter-spacing: 1px;
  border-radius: 30px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.button:hover {
  background-color: #fddcc4;
  border: 1px solid #fddcc4;
}
.button:active {
  background-color: #feebdd;
  border: 1px solid #feebdd;
}

.title {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 2px;
  color: #545454;
}
@media (max-width: 570px) {
  .title {
    font-size: 25px;
    text-align: center;
    letter-spacing: 1px;
  }
}

.item-slider {
  cursor: pointer;
  background-color: #fafafa;
  border-radius: 9px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.item-slider:hover {
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.item-slider:hover .button {
  background-color: #fddcc4;
  border: 1px solid #fddcc4;
}
.item-slider:active {
  -webkit-box-shadow: 0px 2px 15px rgba(13, 13, 13, 0.1);
          box-shadow: 0px 2px 15px rgba(13, 13, 13, 0.1);
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}
.item-slider__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 29px;
}
.item-slider__title {
  font-size: 20px;
  letter-spacing: 0.8px;
}
.item-slider__button {
  pointer-events: none;
  margin-bottom: 30px;
  background-color: transparent;
}

.arrow {
  border-radius: 50%;
  border: 1px solid #f1cdb3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 50px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.arrow:hover {
  background-color: #fddcc4;
  border: 1px solid #fddcc4;
}
.arrow:active {
  background-color: #feebdd;
  border: 1px solid #feebdd;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact span {
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 1.2px;
  font-family: Georgia, "Times New Roman", serif;
  color: #f1cdb3;
  margin-left: 20px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.contact:hover span {
  color: #fddcc4;
}
.contact:active span {
  color: #feebdd;
}

.modal {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100vw;
  height: 100vh;
  background: rgba(41, 41, 41, 0.6);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
}
.modal__close {
  cursor: pointer;
  position: absolute;
  top: -50px;
  right: -50px;
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 99;
}
@media (max-width: 47.99875em) {
  .modal__close {
    right: -30px;
    top: -52px;
  }
}
.modal__body {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fafafa;
  border-radius: 9px;
}
.modal__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.modal__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 500px;
          flex: 0 0 500px;
  overflow: hidden;
  position: relative;
  border-radius: 9px;
  overflow: hidden;
}
@media (max-width: 61.99875em) {
  .modal__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 350px;
            flex: 0 0 350px;
  }
}
@media (max-width: 47.99875em) {
  .modal__img {
    display: none;
  }
}
.modal__img img {
  min-height: 500px;
}
@media (max-width: 61.99875em) {
  .modal__img img {
    min-height: 350px;
  }
}
.modal__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 352px;
          flex: 1 1 352px;
  min-width: 352px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.06em;
  line-height: 130%;
  color: #000000;
  padding-left: 30px;
  padding-right: 30px;
}
@media (max-width: 61.99875em) {
  .modal__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 260px;
            flex: 1 1 260px;
    min-width: 260px;
    padding-right: 10px;
  }
}
@media (max-width: 47.99875em) {
  .modal__content {
    padding: 10px;
    min-width: 240px;
  }
}
.modal__content h3 {
  font-size: 35px;
  margin-top: 50px;
  margin-bottom: 10px;
}
@media (max-width: 61.99875em) {
  .modal__content h3 {
    margin-top: 20px;
  }
}
@media (max-width: 47.99875em) {
  .modal__content h3 {
    text-align: center;
  }
}
.modal__content h4 {
  font-size: 20px;
  line-height: 115%;
  margin-bottom: 40px;
}
@media (max-width: 61.99875em) {
  .modal__content h4 {
    margin-bottom: 20px;
  }
}
@media (max-width: 47.99875em) {
  .modal__content h4 {
    text-align: center;
  }
}
.modal__content p {
  font-size: 15px;
  margin-bottom: 40px;
}
@media (max-width: 61.99875em) {
  .modal__content p {
    margin-bottom: 20px;
    font-size: 13px;
  }
}
@media (max-width: 47.99875em) {
  .modal__content p {
    text-align: justify;
  }
}
.modal__content ul {
  margin-bottom: 20px;
}
.modal__content ul li {
  margin-bottom: 5px;
  font-size: 15px;
  line-height: 110%;
}
.modal__content ul li span {
  font-weight: 700;
  padding-right: 3px;
}
.modal__content ul li::before {
  color: #F1CDB3;
  content: "•";
  padding-right: 10px;
}

.modal-active {
  opacity: 1;
  left: 0;
  visibility: visible;
  pointer-events: auto;
}

.header {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 47.99875em) {
  .header {
    padding: 30px 10px;
  }
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo span:first-child {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 32px;
  line-height: 110%;
  color: #f1cdb3;
}
.header__logo span:last-child {
  margin-top: 10px;
  font-size: 13px;
}
.logo__name {
  letter-spacing: 2px;
}
.logo__text {
  letter-spacing: 1.3px;
}

@media (max-width: 47.99875em) {
  .menu__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 1;
    position: fixed;
    top: 0;
    right: -320px;
    width: 320px;
    height: 100vh;
    opacity: 0;
    -webkit-transition: all 0.4s ease 0.2s;
    transition: all 0.4s ease 0.2s;
    background-color: #292929;
    padding: 100px 5px 30px 5px;
    visibility: hidden;
    pointer-events: none;
    overflow: auto;
  }
  .menu__body._active {
    right: 0;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
}
@media (max-width: 47.99875em) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.menu__item {
  margin-left: 34px;
}
@media (max-width: 47.99875em) {
  .menu__item {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 0;
    margin: 0 auto;
  }
}
.menu__link {
  padding: 7px 0;
  letter-spacing: 0.17px;
  position: relative;
  color: #cdcdcd;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
@media (max-width: 47.99875em) {
  .menu__link {
    font-size: 32px;
    padding: 10px 0;
  }
}
.menu__link:hover {
  color: #fafafa;
}
.menu__link.active::after, .menu__link::after {
  content: "";
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: #f1cdb3;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.menu__link.active::after {
  width: 100%;
  left: 0;
}
.menu__link:active {
  color: #fafafa;
}
.menu__link:active::after {
  width: 100%;
  left: 0;
}
.menu__link.active {
  pointer-events: none;
  color: #fafafa;
}

.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.375rem;
    cursor: pointer;
    z-index: 5;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #f1cdb3;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .icon-menu._active {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

.footer {
  background: url("../img/home/noise.png") repeat, radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
  color: #ffffff;
}
.footer__body {
  margin-top: 40px;
}
@media (max-width: 61.99875em) {
  .footer__body {
    margin-top: 13px;
  }
}
@media (max-width: 570px) {
  .footer__body {
    padding: 0 10px;
  }
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 61.99875em) {
  .footer__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    -webkit-column-gap: 70px;
       -moz-column-gap: 70px;
            column-gap: 70px;
    row-gap: 5px;
    padding: 0 32px;
  }
}
@media (max-width: 570px) {
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.footer__contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 310px;
          flex: 0 0 310px;
}
.footer__address {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 310px;
          flex: 0 0 310px;
}
@media (max-width: 61.99875em) {
  .footer__image {
    grid-column: 1/span 2;
    text-align: center;
  }
}
@media (max-width: 570px) {
  .footer__image {
    margin-top: 37px;
  }
}
@media (max-width: 570px) {
  .footer__image img {
    max-height: 265px;
  }
}

.contacts-footer {
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 570px) {
  .contacts-footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.contacts-footer__title {
  color: #ffffff;
}
@media (max-width: 570px) {
  .contacts-footer__title {
    letter-spacing: 1.4px;
  }
}
.contacts-footer__contact {
  margin-top: 40px;
}

.address-footer {
  margin-left: -18px;
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 570px) {
  .address-footer {
    margin-top: 35px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 0;
  }
}
.address-footer__title {
  color: #ffffff;
}
@media (max-width: 570px) {
  .address-footer__title {
    margin: 0 30px;
    margin-bottom: 42px;
    margin-bottom: 5px;
    letter-spacing: 1.4px;
  }
}
.address-footer__contact {
  margin-top: 32px;
}
@media (max-width: 570px) {
  .address-footer__contact {
    padding-left: 5px;
    margin-top: 36px;
  }
}

.wrapper__container {
  width: 100%;
  padding: 0 30px;
}
@media (max-width: 47.99875em) {
  .wrapper__container {
    padding: 0 10px;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    background-color: #f4f4f4;
  }
}

@media (max-width: 47.99875em) {
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    background-color: black;
  }
}

.header__logo span:first-child {
  color: #545454;
}
.header__logo span:last-child {
  color: #292929;
}

.menu__link {
  color: #545454;
}
.menu__link:hover {
  color: #292929;
}
.menu__link:active {
  color: #545454;
}
.menu__link.active {
  color: #545454;
}
@media (max-width: 47.99875em) {
  .menu__link.active {
    color: rgb(46, 46, 46);
  }
}

.friends {
  background-color: #f6f6f6;
}
.friends__body {
  margin: 80px 0 100px 0;
}
@media (max-width: 61.99875em) {
  .friends__body {
    margin-bottom: 78px;
  }
}
@media (max-width: 47.99875em) {
  .friends__body {
    margin-top: 43px;
    margin-bottom: 43px;
  }
}
.friends__title {
  text-align: center;
  margin-bottom: 58px;
}
@media (max-width: 61.99875em) {
  .friends__title {
    margin-bottom: 30px;
  }
}
@media (max-width: 47.99875em) {
  .friends__title {
    letter-spacing: 1.4px;
    margin-bottom: 40px;
  }
}
.friends__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
@media (max-width: 1200px) {
  .friends__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 28px;
  }
}
@media (max-width: 61.99875em) {
  .friends__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 28px;
  }
}
@media (max-width: 47.99875em) {
  .friends__row {
    min-height: 1364px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.paginator {
  margin-top: 60px;
}
@media (max-width: 61.99875em) {
  .paginator {
    margin-top: 40px;
  }
}
@media (max-width: 47.99875em) {
  .paginator {
    margin-top: 45px;
  }
}
.paginator__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 22px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 47.99875em) {
  .paginator__body {
    gap: 12px;
  }
}
.paginator__item {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 20px;
  letter-spacing: 0.06em;
  border-radius: 50%;
  border: 2px solid #f1cdb3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 50px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.paginator__item.active {
  background-color: #f1cdb3;
}
.paginator__item:hover {
  background-color: #fddcc4;
  border: 2px solid #fddcc4;
}
.paginator__item:active {
  background-color: #feebdd;
  border: 2px solid #feebdd;
}
.paginator__item.unactive {
  pointer-events: none;
  cursor: default;
  background-color: transparent;
  border: 2px solid #cdcdcd;
  color: #cdcdcd;
}

@media (max-width: 61.99875em) {
  .footer__content {
    justify-items: center;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
}
@media (max-width: 61.99875em) {
  .footer .contacts-footer {
    max-width: 280px;
  }
}
@media (max-width: 61.99875em) {
  .footer .address-footer {
    max-width: 302px;
  }
}/*# sourceMappingURL=pets.css.map */