* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #4c4c4c;
  line-height: 1;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 0.9375rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

:root {
  scroll-behavior: smooth;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  margin: 0 auto;
  max-width: 1200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button {
  font-family: Georgia, "Times New Roman", serif;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f1cdb3;
  border: 1px solid #f1cdb3;
  color: #292929;
  font-size: 17px;
  height: 52px;
  padding: 15px 45px;
  letter-spacing: 1px;
  border-radius: 30px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.button:hover {
  background-color: #fddcc4;
  border: 1px solid #fddcc4;
}
.button:active {
  background-color: #feebdd;
  border: 1px solid #feebdd;
}

.title {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 2px;
  color: #545454;
}

.item-slider {
  cursor: pointer;
  background-color: #fafafa;
  border-radius: 9px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.item-slider:hover {
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.item-slider:hover .button {
  background-color: #fddcc4;
  border: 1px solid #fddcc4;
}
.item-slider:active {
  -webkit-box-shadow: 0px 2px 15px rgba(13, 13, 13, 0.1);
          box-shadow: 0px 2px 15px rgba(13, 13, 13, 0.1);
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}
.item-slider__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 29px;
}
.item-slider__title {
  font-size: 20px;
  letter-spacing: 0.8px;
}
.item-slider__button {
  margin-bottom: 30px;
  background-color: transparent;
}

.arrow {
  border-radius: 50%;
  border: 1px solid #f1cdb3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 50px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.arrow:hover {
  background-color: #fddcc4;
  border: 1px solid #fddcc4;
}
.arrow:active {
  background-color: #feebdd;
  border: 1px solid #feebdd;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact span {
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 1.2px;
  font-family: Georgia, "Times New Roman", serif;
  color: #f1cdb3;
  margin-left: 20px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.contact:hover span {
  color: #fddcc4;
}
.contact:active span {
  color: #feebdd;
}

.header {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo span:first-child {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 32px;
  line-height: 110%;
  color: #f1cdb3;
}
.header__logo span:last-child {
  margin-top: 10px;
  font-size: 13px;
}
.logo__name {
  letter-spacing: 2px;
}
.logo__text {
  letter-spacing: 1.3px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
}
.menu__item {
  margin-left: 34px;
}
.menu__link {
  padding: 7px 0;
  letter-spacing: 0.17px;
  position: relative;
  color: #cdcdcd;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
.menu__link:hover {
  color: #fafafa;
}
.menu__link.active::after, .menu__link::after {
  content: "";
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: #f1cdb3;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.menu__link.active::after {
  width: 100%;
  left: 0;
}
.menu__link:active {
  color: #fafafa;
}
.menu__link:active::after {
  width: 100%;
  left: 0;
}
.menu__link.active {
  color: #cdcdcd;
}

.footer {
  background: url("../img/home/noise.png") repeat, radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
  color: #ffffff;
}
.footer__body {
  margin-top: 40px;
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer__contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 310px;
          flex: 0 0 310px;
}
.footer__address {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 310px;
          flex: 0 0 310px;
}
.contacts-footer {
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contacts-footer__title {
  color: #ffffff;
}
.contacts-footer__contact {
  margin-top: 40px;
}

.address-footer {
  margin-left: -18px;
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.address-footer__title {
  color: #ffffff;
}
.address-footer__contact {
  margin-top: 32px;
}

.wrapper__container {
  width: 100%;
}

.header__logo span:first-child {
  color: #545454;
}
.header__logo span:last-child {
  color: #292929;
}

.menu__link {
  color: #545454;
}
.menu__link:hover {
  color: #292929;
}
.menu__link:active {
  color: #545454;
}
.menu__link.active {
  color: #545454;
}

.friends {
  background-color: #f6f6f6;
}
.friends__body {
  margin: 80px 0 100px 0;
}
.friends__title {
  text-align: center;
  margin-bottom: 58px;
}
.friends__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
.paginator {
  margin-top: 60px;
}
.paginator__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 22px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.paginator__item {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 20px;
  letter-spacing: 0.06em;
  border-radius: 50%;
  border: 2px solid #f1cdb3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 50px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.paginator__item.active {
  background-color: #f1cdb3;
}
.paginator__item:hover {
  background-color: #fddcc4;
  border: 2px solid #fddcc4;
}
.paginator__item:active {
  background-color: #feebdd;
  border: 2px solid #feebdd;
}
.paginator__item.unactive {
  background-color: transparent;
  border: 2px solid #cdcdcd;
  color: #cdcdcd;
}