* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #0e0e0e;
  line-height: 1;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 0.9375rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  margin: 0 auto;
  max-width: 80rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
@media (max-width: 81.875em) {
  [class*=__container] {
    max-width: 60.625rem;
  }
}
@media (max-width: 61.99875em) {
  [class*=__container] {
    max-width: 46.875rem;
  }
}
@media (max-width: 47.99875em) {
  [class*=__container] {
    max-width: none;
    padding: 0 0.9375rem;
  }
}

.button {
  font-family: Georgia, "Times New Roman", serif;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f1cdb3;
  border: 1px solid #f1cdb3;
  color: #292929;
  font-size: 17px;
  height: 50px;
  padding: 15px 45px;
  border-radius: 30px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.button:hover {
  background-color: #fddcc4;
  border: 1px solid #fddcc4;
}

.title {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 6%;
  color: #545454;
}

.header {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo span:first-child {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 6%;
  color: #f1cdb3;
}
.header__logo span:last-child {
  margin-top: 10px;
  font-size: 13px;
  letter-spacing: 0.4px;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__item {
  margin-left: 15px;
}
.menu__link {
  padding: 7px 0;
  position: relative;
}
.menu__link::after {
  content: "";
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: #f1cdb3;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.menu__link:hover::after {
  width: 100%;
  left: 0;
}

.top {
  min-height: 70vh;
  background: url("../img/home/noise.png") repeat, radial-gradient(farthest-corner at left top, #5B483A, #262425);
  color: #ffffff;
}

.not-only__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.not-only__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 460px;
          flex: 0 0 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.not-only__title {
  color: #ffffff;
  font-size: 44px;
  margin-bottom: 42px;
}
.not-only__text {
  margin-bottom: 42px;
  color: #cdcdcd;
  line-height: 24px;
}