.top {
	background: url("../img/home/noise.png") repeat, radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
	color: $lightColor;
}

//==================NOT ONLY===================

.not-only {
margin-top: 60px;
// margin-bottom: 40px;
	&__body {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}

	&__content {
		margin-bottom: 242px;
		flex: 0 0 460px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: start;
	}

	&__title {
		color: $lightColor;
		font-size: 44px;
		margin-bottom: 42px;
		letter-spacing: 0.1px;
	}

	&__text {
		margin-bottom: 42px;
		color: $lightGrayColor;
		line-height: 24px;
	}

	&__button {
	}

	&__image {
	}
}

//==================ABOUT===================

.about {

	&__body {
		margin-top: 80px;
		margin-bottom: 100px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__image {
	}

	&__content {
		flex: 0 0 430px;
		margin-left: 120px;
		& p {
			line-height: 24px;
		}
		& p:not(:last-child) {
			margin-bottom: 25px;
		}
	}

	&__title {
		margin-bottom: 25px;
	}
}

//==================OUR FRIENDS===================

.our-friends {
	background-color: $backgroundSecondaryColor;
	&__body {
		margin: 80px 0 100px 0;
	}

	&__title {
		text-align: center;
	}

	&__slider {
		margin: 60px 0;
	}
	&__actions {
display: flex;
justify-content: center;
	}
}

.slider-friends {
	&__body {
position: relative;
	}

	&__row {
		display: flex;
		justify-content: center;
		gap: 90px;
	}

	&__item {

	}

	&__controls {
		display: flex;
		justify-content: space-between;
		position: absolute;
		width: 100%;
		top: 50%;
		transform: translateY(-50%);
	}

	&__arrow-left {

	}

	&__arrow-right {
		& img {
			transform: rotate(180deg);
		}
	}
}


//================HELP===================

.help {


	&__body {
		margin: 80px 0 100px 0;
	}

	&__title {
		text-align: center;
		margin-bottom: 60px;
	}

	&__content {
	}

	&__row {
		display: flex;
		column-gap: 120px;
		row-gap: 55px;
		flex-wrap: wrap;
		justify-content:center;
	}

	&__item {
	
	}
}
.item-help {
	// min-width: 120px;
	display: flex;
	flex-direction: column;
	align-items: center;
	& img {
		width: 60px;
		height: 60px;
	}

	&__text {
		margin-top: 30px;
		font-family: Georgia, "Times New Roman", serif;
		font-size: 20px;
		line-height: 115%;
		letter-spacing: 1.2px;
	}
}

//====================DONATION===================

.donation {
	background-color: $backgroundSecondaryColor;

	&__body {
		margin: 80px 0 100px 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__content {
		flex: 0 0 380px;
		margin-left: 30px;
	}

	&__title {
		margin-bottom: 20px;
	}

	&__card {
	}

	&__card-name {
		font-family: Georgia, "Times New Roman", serif;
		margin-bottom: 20px;
		letter-spacing: 0.9px;
	}

	&__card-number {
		margin-bottom: 20px;
		display: inline-flex;
		align-items: center;
		justify-content: flex-start;
		background-color: $primaryColor;
		border-radius: 9px;
		padding: 10px 15px;
		transition: all 0.3s ease 0s;
		&:hover {
			background-color: $primaryLightColor;
		}
		&:active {
			background-color: lighten($color: $primaryLightColor, $amount: 5%);
		}
		& span {
			font-family: Georgia, "Times New Roman", serif;
			margin-left: 15px;
			font-size: 20px;
			letter-spacing: 1.2px;
		}
	}

	&__legal {
		font-size: 12px;
		line-height: 150%;
		font-style: italic;
		color: #b2b2b2;
	}
}


