.top {
	background: url("../img/home/noise.png") repeat, radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
	color: $lightColor;
}

//==================NOT ONLY===================

.not-only {
margin-top: 60px;
@media (max-width: $tablet) {
	margin-top: 30px;
}
// margin-bottom: 40px;
	&__body {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		@media (max-width: $tablet) {
			flex-direction: column;
			align-items: center;
		}
	}

	&__content {
		margin-bottom: 242px;
		flex: 0 0 460px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: start;
		@media (max-width: $pc) {
			// margin-bottom: 100px;
			// max-width: 460px;
			flex: 0 0 420px;
		}
		@media (max-width: $tablet) {
			margin-bottom: 100px;
			max-width: 460px;
			flex: 0 0 auto;
		}
		@media (max-width: 570px) {
			margin-bottom: 105px;
			align-items: center;
		}
	}

	&__title {
		color: $lightColor;
		font-size: 44px;
		margin-bottom: 42px;
		letter-spacing: 0.1px;
		@media (max-width: 570px) {
			font-size: 25px;
			text-align: center;
			letter-spacing: 1.5px;
		}

	}

	&__text {
		margin-bottom: 42px;
		color: $lightGrayColor;
		line-height: 24px;
		@media (max-width: 570px) {
			text-align: center;
		}
	}

	&__button {
		@media (max-width: $tablet) {
			align-self: center;
		}
	}

	&__image {
		@media (max-width: $pc) {
			align-self: flex-end;
		}
	}
	& img {
		@media (max-width: $pc) {
	
		}
		@media (max-width: $tablet) {
			max-width: 769px;
			max-height: 593px;
		}
		@media (max-width: $mobile) {
			max-width: 400px;
			// max-height: 593px;
		}
		@media (max-width: 570px) {
			max-width: 260px;
			// margin-right: -10px;
		}
	}
}

//==================ABOUT===================

.about {

	&__body {
		margin-top: 80px;
		margin-bottom: 100px;
		display: flex;
		justify-content: center;
		align-items: center;
		@media (max-width: $tablet) {
			flex-direction: column-reverse;
		}
		@media (max-width: 570px) {
			margin: 43px 0;
		}
	}

	&__image {
		@media (max-width: $tablet) {
			margin-top: 30px;
		}
		& img {
			@media (max-width: 570px) {
				max-width: 260px;
				margin-top: 12px;
			}
		}
	}

	&__content {
		flex: 0 0 430px;
		margin-left: 120px;

		& p {
			line-height: 24px;
			@media (max-width: $tablet) {
				line-height: 24.5px;
				}
			@media (max-width: 570px) {
				line-height: 24px;
				padding: 0 15px;
				text-align: justify;
			}
		}
		& p:not(:last-child) {
			margin-bottom: 20px;
		}
		@media (max-width: $tablet) {
		max-width: 430px;
		margin-left: 0;
		}
	}

	&__title {
		margin-bottom: 25px;
		@media (max-width: 570px) {
			letter-spacing: 1.48px;
		}
	}
}

//==================OUR FRIENDS===================

.our-friends {
	background-color: $backgroundSecondaryColor;
	&__body {
		margin: 80px 0 100px 0;
		@media (max-width: 570px) {
			margin: 42px 0;
		}
	}

	&__title {
		text-align: center;
		@media (max-width: 570px) {
			letter-spacing: 1.4px;
			margin: 0 -5px;
		}
	}

	&__slider {
		margin: 60px 0;
		@media (max-width: $tablet) {
			margin: 58px 0;
		}
		@media (max-width: 570px) {
			margin: 40px 0;
		}
	}
	&__actions {
		margin-top: 60px;
		display: flex;
		justify-content: center;
		@media (max-width: $tablet) {
			margin-top: 60px;
		}
		@media (max-width: 570px) {
			margin-top: 115px;
		}
	}
}

.slider-friends {
	&__body {
position: relative;
	}
	&__slider {
		@media (max-width: $pc) {
			width: 820px;
			height: 435px;
		}
		@media (max-width: $tablet) {
			width: 620px;
			height: 435px;
		}
		@media (max-width: $mobile) {
			width: 300px;
			height: 435px;
		}

	}
	&__view {
			@media (max-width: $pc) {
			width: 620px;
			height: 435px;
			overflow: hidden;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(calc(-50% + 0px));
		}
		@media (max-width: $tablet) {
			// transform: translateX(10%);
			width: 620px;
			height: 435px;
			overflow: hidden;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(calc(-50% + 20px));
		}
		@media (max-width: $mobile) {
			width: 300px;
			height: 435px;
			transform: translateX(calc(-50% + 15px));
		}
	
	}


	&__row {
		display: flex;
		justify-content: center;
		gap: 90px;
		@media (max-width: $pc) {
			gap: 60px;
			justify-content: flex-start;
			position:relative;
		}
		@media (max-width: $tablet) {
			gap: 40px;
			// justify-content: flex-start;
			// position:relative;
			transform: translateX(0)
		}
	}

	&__item {
		flex: 0 0 270px;
		// @media (max-width: $tablet) {
		// 	flex: 0 0 270px;
		// }
	}

	&__controls {
		display: flex;
		justify-content: space-between;
		position: absolute;
		width: 100%;
		top: 50%;
		transform: translateY(-50%);
		@media (max-width: 570px) {
			top: 482px;
			justify-content: center;
			gap: 80px;
		}
	}

	&__arrow-left {

	}

	&__arrow-right {
		& img {
			transform: rotate(180deg);
		}
	}
}


//================HELP===================

.help {

	&__body {
		margin: 80px 0 100px 0;
		@media (max-width: 570px) {
			margin: 42px 0;
		}
	}

	&__title {
		text-align: center;
		margin-bottom: 60px;
		@media (max-width: 570px) {
			letter-spacing: 1.5px;
			margin-bottom: 40px;
		}
	}

	&__content {
	}

	&__row {
		display: flex;
		column-gap: 120px;
		row-gap: 55px;
		flex-wrap: wrap;
		justify-content:center;
		@media (max-width: $tablet) {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: auto;
			justify-items: center;
			column-gap: 0;
			padding: 0 10px;
		}
		@media (max-width: $mobile) {
			padding: 0;
		}
		@media (max-width: 570px) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: 570px) {
			justify-items:stretch;
			column-gap: 14px;
			row-gap: 30px;
			padding: 0;
	}

	&__item {
	
	}
}
.item-help {
	// min-width: 120px;
	display: flex;
	flex-direction: column;
	align-items: center;
	& img {
		width: 60px;
		height: 60px;
		@media (max-width: 570px) {
			width: 50px;
			height: 50px;
		}
	}

	&__text {
		margin-top: 30px;
		font-family: Georgia, "Times New Roman", serif;
		font-size: 20px;
		line-height: 115%;
		letter-spacing: 1.2px;
		white-space: nowrap;
		@media (max-width: 570px) {
			font-size: 15px;
			margin-top: 20px;
			letter-spacing: 1px;
		}
	}
}
}
//====================DONATION===================

.donation {
	background-color: $backgroundSecondaryColor;

	&__body {
		margin: 80px 0 100px 0;
		display: flex;
		justify-content: center;
		align-items: center;
		@media (max-width: $tablet) {
			flex-direction: column-reverse;
		}
		@media (max-width: 570px) {
			margin: 41px 0;
		}
	}
	&__image {
		@media (max-width: 570px) {
			margin-top: 24px;
		}
		& img {
			@media (max-width: 570px) {
				max-width: 260px;
			}
		}	
	}
	&__content {
		flex: 0 0 380px;
		margin-left: 30px;
		@media (max-width: $tablet) {
			max-width: 380px;
			margin-left: 0;
			flex: 0 0 340px;
		}
		@media (max-width: 570px) {
			flex: 0 0 300px;
		}
	}

	&__title {
		margin-bottom: 20px;
		@media (max-width: 570px) {
			margin-bottom: 23px;
			letter-spacing: 1.5px;
		}
	}

	&__card {
	}

	&__card-name {
		font-family: Georgia, "Times New Roman", serif;
		margin-bottom: 20px;
		letter-spacing: 0.9px;
		@media (max-width: 570px) {
			margin-bottom: 23px;
			font-size: 15px;
			text-align: center;
			white-space: nowrap;
			letter-spacing: 0px;
		}
	}

	&__card-number {
		margin-bottom: 20px;
		display: inline-flex;
		align-items: center;
		justify-content: flex-start;
		background-color: $primaryColor;
		border-radius: 9px;
		padding: 10px 15px;
		transition: all 0.3s ease 0s;
		&:hover {
			background-color: $primaryLightColor;
		}
		&:active {
			background-color: lighten($color: $primaryLightColor, $amount: 5%);
		}
		& span {
			font-family: Georgia, "Times New Roman", serif;
			margin-left: 15px;
			font-size: 20px;
			letter-spacing: 1.2px;
			@media (max-width: 570px) {
				font-size: 15px;
				letter-spacing: 0.85px;
			}
		}
		@media (max-width: 570px) {
			margin: 3px 10px 19px 10px;
		}
	}

	&__legal {
		font-size: 12px;
		line-height: 150%;
		font-style: italic;
		color: #b2b2b2;
		@media (max-width: 570px) {
			margin: 0 10px;
			text-align: justify;
		}
	}
}


