.top {
	background: url("../img/home/noise.png") repeat, radial-gradient(farthest-corner at left top, #5B483A, #262425);
	color: $lightColor;
}

//==================NOT ONLY===================

.not-only {
margin-top: 70px;
	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__content {
		flex: 0 0 460px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: start;
	}

	&__title {
		color: $lightColor;
		font-size: 44px;
		margin-bottom: 42px;
	}

	&__text {
		margin-bottom: 42px;
		color: $lightGreyColor;
		line-height: 24px;
	}

	&__button {
	}

	&__image {
	}
}

//==================ABOUT===================

.about {

	&__body {
		margin-top: 80px;
		margin-bottom: 100px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__image {
	}

	&__content {
		flex: 0 0 430px;
		margin-left: 120px;
		& p {
			line-height: 24px;
		}
		& p:not(:last-child) {
			margin-bottom: 25px;
		}
	}

	&__title {
		margin-bottom: 25px;
	}
}

//==================OUR FRIENDS===================

.our-friends {
	background-color: #F6F6F6;
	&__body {
	}

	&__title {
		margin-top: 80px;
		text-align: center;
	}

	&__slider {
		margin: 60px 0;
	
	}
}

.slider-friends {
	&__body {
position: relative;
	}

	&__row {
		display: flex;
		justify-content: center;
		gap: 90px;
	}

	&__item {
		background-color: #FAFAFA;
		border-radius: 9px;
		overflow: hidden;
	}

	&__controls {
		display: flex;
		justify-content: space-between;
		position: absolute;
		width: 100%;
		top: 50%;
		transform: translateY(-50%);
	}

	&__arrow-left {

	}

	&__arrow-right {
		& img {
			transform: rotate(180deg);
		}
	}
}
.item-slider {
	cursor: pointer;

	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 30px;
	}

	&__image {
	}

	&__title {
		font-size: 20px;
	}

	&__button {
		margin-bottom: 30px;
	}
}
