.wrapper {

	&__container {
		width: 100%;
		padding: 0 30px;
		@media (max-width: $mobile) {
			padding: 0 10px;
			}
	}
}
// ================= переписывем некоторые стили header ================
.menu {

	&__body {
		@media (max-width: $mobile) {
		background-color: #f4f4f4;
		}
	}
}


.icon-menu {
	@media (max-width: $mobile) {
		span,
		&::before,
		&::after {
			content: "";
			background-color: black;
		}
	
	}
}

.header {
	&__logo {
		& span:first-child {
			color: $titleGrayColor;
		}
		& span:last-child {
			color: $darkGrayColor;
		}
	}
}

.menu {

	&__link {
		color: $titleGrayColor;
		&:hover {
			color: $darkGrayColor;
		}
		&:active {
			color: $titleGrayColor;
		}
		&.active{
			color: $titleGrayColor;
			@media (max-width: $mobile) {
				color: rgb(46, 46, 46);
				}
		}
	}
}

//====================Friends ====================

.friends {
background-color: $backgroundSecondaryColor;
	&__body {
		margin: 80px 0 100px 0;
		@media (max-width: $tablet) {
			margin-bottom: 78px;
			}
			@media (max-width: $mobile) {
				margin-top: 43px;
				margin-bottom: 43px;
			}
	}

	&__title {
		text-align: center;
		margin-bottom: 58px;
		@media (max-width: $tablet) {
			margin-bottom: 30px;
			}
			@media (max-width: $mobile) {
				letter-spacing: 1.4px;
				margin-bottom: 40px;
			}
	}

	&__row {
		display: flex;
		justify-content: space-between;
		// padding: 0 20px;
		flex-wrap: wrap;
		row-gap: 30px;
		column-gap: 40px;
		@media (max-width: 1200px) {
			justify-content: center;
			row-gap: 28px;
			}
		@media (max-width: $tablet) {
			justify-content: center;
			row-gap: 28px;
			}
			@media (max-width: $mobile) {
				min-height: 1364px;
				flex-direction: column;
				align-items: center;
				}
	}

	&__actions {
	}
}


.paginator {
margin-top: 60px;
@media (max-width: $tablet) {
	margin-top: 40px;
	}
	@media (max-width: $mobile) {
		margin-top: 45px;
	}
	&__body {
		display: flex;
		gap: 22px;
		justify-content: center;
		@media (max-width: $mobile) {
			gap: 12px;
		}
	}

	&__item {
		font-family: Georgia, "Times New Roman", serif;
		font-size: 20px;
		letter-spacing: 0.06em;
		border-radius: 50%;
		border: 2px solid $primaryColor;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 50px;
		width: 50px;
		cursor: pointer;
		transition: all 0.3s ease 0s;
		&.active {
			background-color: $primaryColor;
		}
		&:hover {
			background-color: $primaryLightColor;
			border: 2px solid $primaryLightColor;
		}
		&:active {
				background-color: lighten($color: $primaryLightColor, $amount: 5%);
				border: 2px solid lighten($color: $primaryLightColor, $amount: 5%);
		}
		&.unactive {
			pointer-events: none;
			cursor: default;
			background-color: transparent;
			border: 2px solid $lightGrayColor;
			color: $lightGrayColor;
		}
	}
}


.footer{
&__content {
	@media (max-width: $tablet) {
	justify-items: center;
	column-gap: 10px;
	}
}
.contacts-footer {
	@media (max-width: $tablet) {
		max-width: 280px;
	}
}
.address-footer {
	@media (max-width: $tablet) {
		max-width: 302px;
		}
	}
}